body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #151515 url("../images/bkg.png") 0 0;
  position:absolute;
  border-top: 1px dashed #b5e853;
  width:100%;
  display: inline;
}

.header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #151515 url("../images/bkg.png") 0 0;
  position:fixed;
  border-bottom: 1px dashed #b5e853;
  top:0;
  width:100%;
  display: inline;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;

  background: #151515 url("../images/bkg.png") 0 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ; /* This actually is the height for text inside the list item, not between list items */
  margin: 10px 0; /* This is for between list items */
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h1:before {
  content: "./ ";
  font-size: 24px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#copyright-link {
  color: #b5e853;
  text-decoration: none;
  text-shadow: none;
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style: none;
}

ul li:before {
  content: ">>";
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  color: #b5e853;
  margin-left: -37px;
  margin-right: 21px;
  line-height: 16px;
}

blockquote {
  color: #aaa;
  padding-left: 10px;
  border-left: 1px dotted #666;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 14px;
  color: #b5e853;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-wrap: none;
  overflow: auto;
  overflow-y: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

td, th {
  font-size: 1em;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 3px 7px 2px 7px;
  color: #b5e853;
  word-wrap: break-word;
  white-space: pre-wrap;
}

tr td {
  color: #b5e853;
  background: rgba(0, 0, 0, .5);
}

tr:nth-child(even) td {
  color: #b5e853;
  background: rgba(0, 0, 0, 0.9);
}

td {
  padding: 5px 10px;
}

/* Note that order does matter in a css file, especially when td, th is trying to set the text color to green instead of white */
th {
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
  color: #ffffff;
  background: rgba(0, 130, 0, 1);
  font-weight: bold; /* Do note, on the table header tag, the font-weight: bold is unnecessary as the table header by default is bold */
  text-align: center;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

.btn-facebook .icon {
  opacity: 0.6;
  background: url("https://www.facebook.com/favicon.ico") 0 0 no-repeat;
}

.btn-twitter .icon {
  opacity: 0.6;
  background: url("https://www.twitter.com/favicon.ico") 0 0 no-repeat;
}

.btn-googleplus .icon { /* It seems Google+ does not like Github Pages. I cannot figure out why */
  opacity: 0.6;
  background: url("https://plus.google.com/favicon.ico") 0 0 no-repeat;
}

.btn-google .icon {
  opacity: 0.6;
  background: url("https://www.google.com/favicon.ico") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

a:visited {
  /*color: #63c0f5;*/
}
a:hover {
  color: #b5e853;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  /*This is essentially a link that is currently being clicked on */
  /*You can also see it when you hold on a link in a mobile browser - Mobile browsers do have a default style */
  background-color: rgba(199,199,199,0.3);
  /* text-decoration: underline; */ /*It looks cool with an underline, but I prefer the buttons without them */
}

p {
  text-indent: 50px;
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}
